* {
  /* height: 100vh;
  width: 100vh;
  padding: 0;
  margin: 0; */
}

/* Add your code in each class */
body {
  background-color: rgb(45, 9, 66);
  height: 100vh;
  weight: 100vh;

  justify-content: center;
}
.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-card {
  position: absolute;
}
.movie-image {
  background-image: url(../assets\harrypotter.jpg);
  border: 50%;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-details-container {
  z-index: 1;
  position: relative;
  left: 0;
  bottom: 0;
}
.descriptions {
  /* h1: Movie Name;
  p: Some description; */
  color: white;
  position: absolute;
  bottom: 0;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
}
